data/Rainier Oregon Crashes in XSD and XML/HWY_COMPNT.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="HWY_COMPNT_SHORT_DESC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="HWY_COMPNT_CD" type="xs:string" />
              <xs:element name="HWY_COMPNT_LONG_DESC" type="xs:string" />
              <xs:element name="HWY_COMPNT_MED_DESC" type="xs:string" />
              <xs:element minOccurs="0" name="HWY_COMPNT_TERMNT_DT" type="xs:dateTime" />
              <xs:element name="LAST_UD_DT" type="xs:dateTime" />
              <xs:element name="LAST_UD_USER_ID" type="xs:string" />
              <xs:element name="HWY_COMPNT_SHORT_DESC" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>